name: Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - '!*[ab][0-9]*'

jobs:

  build-wheels:
    name: Build wheels on ${{ matrix.cibw-only }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux x86_64
          - cibw-only: "cp310-manylinux_x86_64"
            os: "ubuntu-latest"
          - cibw-only: "cp311-manylinux_x86_64"
            os: "ubuntu-latest"
          - cibw-only: "cp312-manylinux_x86_64"
            os: "ubuntu-latest"

          # Linux aarch64
          - cibw-only: "cp310-manylinux_aarch64"
            os: "ubuntu-latest"
          - cibw-only: "cp311-manylinux_aarch64"
            os: "ubuntu-latest"
          - cibw-only: "cp312-manylinux_aarch64"
            os: "ubuntu-latest"

          # musllinux x86_64
          - cibw-only: "cp310-musllinux_x86_64"
            os: "ubuntu-latest"
          - cibw-only: "cp311-musllinux_x86_64"
            os: "ubuntu-latest"
          - cibw-only: "cp312-musllinux_x86_64"
            os: "ubuntu-latest"

          # musllinux aarch64
          - cibw-only: "cp310-musllinux_aarch64"
            os: "ubuntu-latest"
          - cibw-only: "cp311-musllinux_aarch64"
            os: "ubuntu-latest"
          - cibw-only: "cp312-musllinux_aarch64"
            os: "ubuntu-latest"

          # Mac x86_64
          - cibw-only: "cp310-macosx_x86_64"
            os: "macos-latest"
          - cibw-only: "cp311-macosx_x86_64"
            os: "macos-latest"
          - cibw-only: "cp312-macosx_x86_64"
            os: "macos-latest"

          # Mac arm64
          - cibw-only: "cp310-macosx_arm64"
            os: "macos-latest"
          - cibw-only: "cp311-macosx_arm64"
            os: "macos-latest"
          - cibw-only: "cp312-macosx_arm64"
            os: "macos-latest"

          # Windows 64bit
          - cibw-only: "cp310-win_amd64"
            os: "windows-latest"
          - cibw-only: "cp311-win_amd64"
            os: "windows-latest"
          - cibw-only: "cp312-win_amd64"
            os: "windows-latest"

          # Windows 32
          # - cibw-only: "cp310-win32"
          #   os: "windows-latest"
          # - cibw-only: "cp311-win32"
          #   os: "windows-latest"
          # - cibw-only: "cp312-win32"
          #   os: "windows-latest"

    steps:
      - uses: actions/checkout@v6

      - name: Use Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Print build identifiers
        run: |
          python -m pip install cibuildwheel
          python -m cibuildwheel --only ${{ matrix.cibw-only }} --print-build-identifiers

      - name: Setup CMake
        uses: jwlawson/actions-setup-cmake@v2.1

      - name: Build wheels
        uses: pypa/cibuildwheel@v3
        with:
          only: ${{ matrix.cibw-only }}

      - uses: actions/upload-artifact@v6
        with:
          name: pypi-artifacts
          path: ./wheelhouse/*.whl

  build-sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v6
        with:
          name: pypi-artifacts
          path: dist/*.tar.gz

  show-artifacts:
    needs: ["build-wheels", "build-sdist"]
    name: "Show artifacts"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v7
      with:
        name: pypi-artifacts
        path: ${{ github.workspace }}/dist

    - shell: bash
      run: |
        ls -l ${{ github.workspace }}/dist

  publish-to-pypi:
    needs: ["build-wheels", "build-sdist"]
    name: "Publish to PyPI"
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v7
        with:
          name: pypi-artifacts
          path: ${{ github.workspace }}/dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip_existing: true
          print_hash: true
          verify_metadata: false
