name: Test

on: [push, pull_request]

jobs:
  build-wheels:
    # Run on external PRs, but not on internal PRs, to avoid duplicate runs
    if:
      github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
      github.repository

    name: Build wheels on ${{ matrix.cibw-only }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux x86_64
          - cibw-only: "cp310-manylinux_x86_64"
            os: "ubuntu-latest"
          - cibw-only: "cp311-manylinux_x86_64"
            os: "ubuntu-latest"
          - cibw-only: "cp312-manylinux_x86_64"
            os: "ubuntu-latest"
          - cibw-only: "cp313-manylinux_x86_64"
            os: "ubuntu-latest"

          # Linux aarch64
          - cibw-only: "cp310-manylinux_aarch64"
            os: "ubuntu-latest"
          - cibw-only: "cp311-manylinux_aarch64"
            os: "ubuntu-latest"
          - cibw-only: "cp312-manylinux_aarch64"
            os: "ubuntu-latest"
          - cibw-only: "cp313-manylinux_aarch64"
            os: "ubuntu-latest"

          # musllinux x86_64
          - cibw-only: "cp310-musllinux_x86_64"
            os: "ubuntu-latest"
          - cibw-only: "cp311-musllinux_x86_64"
            os: "ubuntu-latest"
          - cibw-only: "cp312-musllinux_x86_64"
            os: "ubuntu-latest"
          - cibw-only: "cp313-musllinux_x86_64"
            os: "ubuntu-latest"

          # musllinux aarch64
          - cibw-only: "cp310-musllinux_aarch64"
            os: "ubuntu-latest"
          - cibw-only: "cp311-musllinux_aarch64"
            os: "ubuntu-latest"
          - cibw-only: "cp312-musllinux_aarch64"
            os: "ubuntu-latest"
          - cibw-only: "cp313-musllinux_aarch64"
            os: "ubuntu-latest"

          # Mac x86_64
          - cibw-only: "cp310-macosx_x86_64"
            os: "macos-13"
          - cibw-only: "cp311-macosx_x86_64"
            os: "macos-13"
          - cibw-only: "cp312-macosx_x86_64"
            os: "macos-13"
          - cibw-only: "cp313-macosx_x86_64"
            os: "macos-13"

          # Mac arm64
          - cibw-only: "cp310-macosx_arm64"
            os: "macos-latest"
          - cibw-only: "cp311-macosx_arm64"
            os: "macos-latest"
          - cibw-only: "cp312-macosx_arm64"
            os: "macos-latest"
          - cibw-only: "cp313-macosx_arm64"
            os: "macos-latest"

          # Windows 64bit
          - cibw-only: "cp310-win_amd64"
            os: "windows-latest"
          - cibw-only: "cp311-win_amd64"
            os: "windows-latest"
          - cibw-only: "cp312-win_amd64"
            os: "windows-latest"
          - cibw-only: "cp313-win_amd64"
            os: "windows-latest"

          # Windows 32
          # - cibw-only: "cp310-win32"
          #   os: "windows-latest"
          # - cibw-only: "cp311-win32"
          #   os: "windows-latest"
          # - cibw-only: "cp312-win32"
          #   os: "windows-latest"

    steps:
      - uses: actions/checkout@v6

      - name: Use Python 3.14
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Build wheels
        run: |
          python -m pip install cibuildwheel
          python -m cibuildwheel --only ${{ matrix.cibw-only }} --print-build-identifiers

      - name: Setup CMake
        uses: jwlawson/actions-setup-cmake@v2.1

      - name: Build wheels
        uses: pypa/cibuildwheel@v3
        with:
          only: ${{ matrix.cibw-only }}

      - uses: actions/upload-artifact@v6
        with:
          name: wheel-${{ matrix.os }}-${{ matrix.cibw-only }}
          path: ./wheelhouse/*.whl

  show-artifacts:
    needs: "build-wheels"
    name: "Show artifacts"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v7
      with:
        pattern: "wheel-*"
        merge-multiple: true
        path: ${{ github.workspace }}/dist

    - shell: bash
      run: |
        ls -l ${{ github.workspace }}/dist

  test:
    needs: build-wheels
    name: Run the tests

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.14"]

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v6
      - name: Use Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/download-artifact@v7
        with:
          pattern: "wheel-*"
          merge-multiple: true
          path: ${{ github.workspace }}/dist

      - name: Test
        run: |
          pip install nox
          nox -s test --verbose -- dist

      - name: Coveralls
        if: matrix.os == 'ubuntu-latest'
        uses: AndreMiras/coveralls-python-action@develop
        with:
          parallel: true
          flag-name: py${{ matrix.python-version }}-${{ matrix.os }}
          debug: true

  coveralls_finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: AndreMiras/coveralls-python-action@develop
        with:
          parallel-finished: true
          debug: true

  check_tag:
    needs: test
    runs-on: ubuntu-latest
    outputs:
      publish_url: ${{ steps.check-publish.outputs.publish_url }}

    steps:
    - name: Check if this is a release/prerelease
      id: check-publish
      run: |
        tag_name="${GITHUB_REF#refs/tags/}"
        if [[ "$tag_name" =~ ^v[0-9]+\.[0-9]+\.[0-9]+[ab][0-9]+$ ]]; then
          publish_url="https://test.pypi.org/legacy/"
        elif [[ "$tag_name" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
          publish_url="https://upload.pypi.org/legacy/"
        else
          publish_url="none"
        fi
        echo "publish_url=$publish_url" >> "$GITHUB_OUTPUT"
        echo "tag_name=$tag_name"
        echo "publish_url=$publish_url"

  publish:
    needs: "check_tag"
    name: "Publish to PyPI/TestPyPI"
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: "wheel-*"
          merge-multiple: true
          path: ${{ github.workspace }}/dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        if: ${{ startsWith(needs.check_tag.outputs.publish_url, 'http') }}
        with:
          repository-url: ${{ needs.check_tag.outputs.publish_url }}
          skip-existing: true
          print-hash: true
          verify-metadata: false
